.avatar,
.DashboardProfileCard-avatarImage,
.DashboardProfileCard-avatarLink,
.DMAvatar,
.ProfileCard-avatarImage,
.ProfileCard-avatarLink,
.ProfileAvatar-image,
.ProfileAvatar,
.RichEditor,
.TweetBoxAttachments,
.InputToken /* This is the little card that shows up in the input when you select someone to DM */
{
    border-radius: 5px !important;
}

.ProfileCardStats-statLabel,
.ProfileNav-label {
    font-size: 14px !important;
    font-weight: normal !important;
    overflow: visible !important;
}

.ProfileHeading-toggleItem,
.ProfileHeading-toggleItem.is-active {
    font-weight: normal !important;
}

.username {
    font-size: 13px !important;
}

button {
    border-radius: 5px !important;
}

.Icon:after, .Icon:before {
    font-family: "rosettaicons" !important;
}

.HeartAnimation{
    background-image: url("https://pbs.twimg.com/media/DCen0Y0XUAASfgk.png:orig")/* Shh, just fixing twitter using twitter */ !important;
}

/* This fixes the heart animation, because the new one contains another step which needs an offset (therefore reset the offset to 0 here) */
.ProfileTweet-action--favorite:hover .HeartAnimation,.ProfileTweet-action--favorite .ProfileTweet-actionButton:focus .HeartAnimation {
    background-position: 0 !important;
}
/* Keep the animation in the finished state, when already liked */
.favorited .ProfileTweet-action--favorite:hover .HeartAnimation {
    background-position: right !important;
}

@font-face {
    font-family: "rosettaicons" !important;
    src: url("../../font/rosetta-icons-Regular.eot") !important;
    src: url("../../font/rosetta-icons-Regular.eot?#iefix") format("embedded-opentype"), url("../../font/rosetta-icons-Regular.woff") format("woff"), url("../../font/rosetta-icons-Regular.ttf") format("truetype") !important;
}
